{% if product.image_url is defined %}
    {% set image_url = product.image_url ~ '?w=500&h=650' %}
    {% set extra_class = null %}
{% else %}
    {% set image_url = 'transparent_500_650.png' | asset_url %}
    {% set extra_class = 'product-card__no-image' %}
{% endif %}

<div class="product-card">
    <a class="product-card__thumb-link product-card product-card__background {{ extra_class }}" href="/productos/{{ product.permalink }}">
        <div class="fill-image" style="width:370px; height:480px;" data-imgLiquid-fill="false">
            <img src="{{ image_url }}" alt="{{ product.name }}" class="img-responsive product-card__image">
	    </div>
        <div class="product-card__view-more">
            <h5>Ver Producto</h5>
        </div>
    </a>
    <h5 class="product-card__title">{{ product.name }}</h5>
    <p class="product-card__price"><span class="final-price">{{ product.price | money('symbol', 'code') }}</span><span class="compared-price">{{ sku.compared_price is defined ? sku.compared_price | money('symbol', 'code') : '' }}</span></p>
</div>
