{% extends 'layout.twig' %}

{% block body %}
<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="section-heading">{{ blog.title }}</h1>
    </div>
  </div>
</div>

{% if posts | length > 0 %}
<div class="container">
  {% for post in posts %}
  <div class="row blog">
    <div class="col-xs-12 blog__item">
      <div class="row">
        <div class="col-xs-12 blog__item__img">
          <a href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">
            {% if post.image_url %}
            <div class="js-fill-image" style="min-height: 500px;">
              <img src="{{ post.image_url }}?w=1180&h=500&fit=crop" alt="{{ post.title | escape }}" class="img-responsive">
            </div>
            {% endif %}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 blog__item__info">
          <a class="blog__item__img__link" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">
            <h3 class="section-heading">{{ post.title }}</h3>
          </a>
          <p class="blog__item__excerpt">
            {% if post.summary is not empty %}
            {{ post.summary | truncate_words(24) }}
            {% else %}
            {{ post.content | striptags | truncate_words(24) }}
            {% endif %}
          </p>
          <a href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}" class="blog-read-more">Leer más</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="row text-center blog__pagination">
    {% include '_pagination.twig' %}
  </div>
</div>
{% endif %}

{% endblock %}
