{% extends 'layout.twig' %}

{% block body %}
<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="section-heading">{{ blog.title }}</h1>
    </div>
  </div>
</div>

{% if posts | length > 0 %}
<div class="container">
  {% for post in posts %}
  <div class="row blog">
    <div class="col-xs-12 blog__item">
      <div class="row">
        <div class="col-xs-12 blog__item__img">
          <a class="blog__item__img__link" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">
            {% if post.image_url %}
            <img src="{{ post.image_url }}?w=1180&h=500&fit=crop" alt="{{ post.name | escape }}" class="img-responsive">
            {% endif %}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 blog__item__info">
          <h2 class="section-heading"><a class="blog__item__img__link" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">{{ post.title }}</a></h2>
          {% if post.summary %}
          <p class="blog__item__excerpt">{{ post.summary | truncate_words(24) }}</p>
          {% else %}
          <p class="blog__item__excerpt">{{ post.content | truncate_words(24) }}</p>
          {% endif %}
          <a href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}" class="blog-read-more">Leer más</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="row text-center blog__pagination">
    {% include '_pagination.twig' %}
  </div>
</div>
{% endif %}

{% endblock %}
