{% extends 'layout.twig' %}

{% block body %}
{% if collection.image_url is not null %}
  {% set image_url = collection.image_url ~ '&w=1280&h=560&fit=crop' %}
  {% set extra_style = null %}
{% else %}
  {% set image_url = 'placeholders/product-11.jpg' | global_img_url %}
  {% set extra_style = 'background-size:250px; background-color:'~settings.placeholder_background_color~';' %}
{% endif %}

<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12">
      <div class="collection__header" style="background-image: url('{{ image_url }}');{{ extra_style }}">
        <div class="collection__header__overlay"></div>
        <div class="row">
          <div class="collection__header__info col-sm-10 col-sm-offset-1">
            <h2 class="collection__header__info__title">{{ collection.title | escape }}</h2>
            <p class="collection__header__info__desc">{{ collection.description | striptags }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {% for products_row in products | batch(3) %}
      <div class="row">
        {% for product in products_row %}
        <div class="col-xs-12 col-sm-4">
          {% include '_product-card.twig' %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      <div class="row text-center">
        {% include '_pagination.twig' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body_js %}
{{ parent() }}
<script type="text/javascript">
  var timeOut;

  $(window).load(function() {
    squareItem('.product-card__image-container');
  });

  $(window).resize(function() {
    clearTimeout(timeOut);
    timeOut = setTimeout(function(){
      squareItem('.product-card__image-container');
    })
  });
</script>
{% endblock %}
