{% extends 'layout.twig' %}

{% block main_title %}
    {{ post.title }}
{% endblock main_title %}

{% block body %}

    <div class="container-fluid">
        <div class="row post__header" style="background-image: url('{{ post.image_url }}')">
            <div class="post__header__overlay"></div>
            <div class="col-xs-12">
                <h2 class="post__header__title">{{ post.title }}</h2>
                <p class="post__header__summary">{{ post.summary }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 post__content">
                <p>{{ post.content | raw }}</p>
            </div>
        </div>
    </div>

{% endblock body %}
