{% extends 'layout.twig' %}

{% block body %}

{% if product.images | length <= 3 %}
<style type="text/css">
  .slick-list {
    padding: 0 !important;
  }
  .slider-nav {
    width: 100%;
    margin: 0;
  }
</style>
{% endif %}

<div class="container">
  <div class="row product">
    <div class="col-sm-6">
      <div class="slider-for main-product">
        {% for image in product.images %}
        <div class="product__images product__images--for">
          <img src="{{ image.url }}" alt="{{ product.name }}" id="main-image" class="img-responsive">
        </div>
        {% else %}
        <div class="img-wrapper product__images product__images--for">
          <img src="{{ 'placeholders/product-15.jpg' | global_img_url }}">
        </div>
        {% endfor %}
      </div>
      {% if product.images | length > 1 %}
      <div class="slider-nav hidden-xs hidden-sm js-slider">
        {% for thumbnail in product.images %}
        <div class="js-fill-image product__images product__images--nav" style="height: 130px;">
          <img src="{{ thumbnail.url }}&w=185&h=152" alt="{{ product.name }} ">
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-sm-6">
      {% if product.vendor %}
      <p class="product__vendor">Marca:
        <span class="product__vendor__name">{{ product.vendor.name }}</span>
      </p>
      {% endif %}
      <h1 class="section-heading product__title">{{ product.name }}</h1>
      {% if not product.is_in_stock %}<span class="label label-danger">Agotado</span>{% endif %}
      <div class="product-single__price" id="js-price-preview">
        <del class="compared-price"><span class="inner">{{ product.compared_price is defined ? product.compared_price | money('symbol', 'code') : '' }}</span></del><br>
        <span class="final-price js-product-price-compared-amount">{{ product.price | money('symbol', 'code') }}</span>
      </div>
      <form class="product_selection" action="/carrito/agregar" method="post">
        <input id="js-sku-id" type="hidden" name="sku_id" value="{{ product.sku.id }}">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              {% for modifier, options in product.skus_modifiers %}
              <div class="col-xs-12 col-md-6">
                <div class="product__vars">
                  <h5 class="product__heading">{{ modifier }}</h5>
                  <select class="selectpicker js-variant-select" title="Elegir {{ modifier }}" name="{{ loop.index0 }}" id="{{ loop.index0 }}">
                    {% for option in options %}
                    <option value="{{ option }}" {% if loop.first %}selected="selected"{% endif %}>{{ option }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="product__vars">
                  <h5 class="product__heading">Cantidad</h5>
                  <select class="selectpicker js-quantity-select" title="Cantidad de producto" name="quantity" id="quantity">
                    {% for qty in 1..5 %}
                    <option value="{{ qty }}" {{ qty == item.quantity ? ' selected="selected"' : null }}>{{ qty }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row product__btn">
          <div class="col-xs-12 col-md-6">
            {% if product.is_in_stock %}
            <button id="js-add-to-cart" type="submit" class="btn btn-block">
              <i class="fa fa-cart-plus"></i>
              Añadir al carrito
            </button>
            {% else %}
            <button class="btn btn-block js-add-to-cart-disabled" disabled="disabled">
              No disponible
            </button>
            {% endif %}
          </div>
        </div>
      </form>

      {% if product.description is not empty %}
      <hr>
      <div class="product__description">{{ product.description | raw }}</div>
      {% endif %}

      {% if settings.enable_share_products %}
      <hr>
      <div class="product__social-share">
        {% include '_social-share.twig' %}
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% include '_related-products.twig' with {'related_products': related_products} only %}

{% endblock %}

{% block body_js %}
{{ parent() }}

{% if product.is_in_stock %}
{{ 'sku-select/v1/sku-select.min.js' | global_asset_url | script_tag }}
<script type="text/javascript">
  buildProductSlider();

  var formatMoney = function(price) {
    var formatPrice = price /= 100;
    formatPrice = formatPrice.toFixed(2);
    formatPrice = formatPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return '$ ' + formatPrice + ' {{ store.currency }}';
  }

  $(document).ready(function () {
    var firstLoad = true;

    new Shoperti.SkuSelect({
      selector: 'js-variant-select',
      skus: {{ product.skus | json }}
    }, function(sku) {
      var producto_qty = 0;
      var producto_qty = $('.js-quantity-select option:selected').val();

      if (sku && !(sku.stock_policy !== 'none' && sku.in_stock < 1)) {
        jQuery('#js-sku-id').val(sku.id);
        jQuery('#js-add-to-cart').removeClass('disabled').removeAttr('disabled', 'disabled')
        if (sku.price < sku.compared_price) {
          jQuery('#js-price-preview').html("<del class=\"compared-price\">" + formatMoney(sku.compared_price) + "</span></del><br><span class=\"final-price js-product-price-compared-amount product-price__discount\">" + formatMoney(sku.price));
        } else {
          jQuery('#js-price-preview').html("<span class=\"final-price js-product-price-compared-amount\">" + formatMoney(sku.price) + "</span>");
        }
      } else {
        jQuery('#js-add-to-cart').addClass('disabled').attr('disabled', 'disabled')
        jQuery('#js-price-preview').html('<span class="js-product-price-compared-amount">No disponible</span>');
      }

      if (sku) {
        var image = sku.image_url;
        if (!firstLoad && image != null) {
          var currentImage = $('#main-image');
          if (image && currentImage.attr('src') != image) {
            currentImage.attr("src", image);
          }
        }
        firstLoad = false;
      }

      $('.js-quantity-select').change(function() {
        var producto_qty = 0;
        var producto_qty = $('.js-quantity-select option:selected').val();
        if (sku.stock_policy == 'none' || sku.in_stock >= producto_qty ) {
          jQuery('#js-sku-id').val(sku.id);
          jQuery('#js-add-to-cart').removeClass('disabled').removeAttr('disabled', 'disabled')
        } else {
          jQuery('#js-add-to-cart').addClass('disabled').attr('disabled', 'disabled')
          jQuery('#js-price-preview').html('<span class="js-product-price-compared-amount">No disponible</span>');
        }
      });

      $('.slick-slide').on('click', function(e) {
        mainProduct = $(this).find('img').attr('src');
        $('.main-product').find('img').attr('src', mainProduct);
      });
    });

  });
</script>
{% endif %}

<script>
  $(window).resize(function() {
    clearTimeout(timeOut);
    timeOut = setTimeout(function() {
      squareItem('.product__images--for');
      squareItem('.product__images--nav');
      buildProductSlider();
    }, 300);
  });
</script>

{% endblock %}
